// settings main
$body_color:#fff;
$body_bg:#1e252e;
$placeholder_color:#9faab7;
$selection_bg:#2600ff;
$selection_color:#fff;
$site_font_size:14px;
$site_line_height:1.2;
$default_font: 'Roboto', sans-serif;
$link_color:#2600ff;
$link_hover_color:#2600ff;